- var numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]


<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="./application.css")
body
	article#container
		each number in numbers
			div(class="square" id="#{number}")
	script(type="application/javascript", src="./main.js")
